
$primary-color: #272727;
$accent-color: #ff652f;
$text-color:#ff45;
$font-weights:(
    "regular": 300,
    "medium": 500,
    "bold": 700
);

body {
    background: $text-color;
    
}
h1{
    color:$accent-color;
}
.main{
    width: 80%;
    margin: 0 auto;
    &_paragraph{
        font-weight: map-get($font-weights,bold);
        &:hover{
            color:green;
        }
    }
}